
body {
  margin: 0;
  font-family: 'Apple Chancery', sans-serif;
  color: whitesmoke;
  background-color: rgb(34, 46, 51);
}

.App {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 90px;
  border: 2px solid whitesmoke;
  padding: 30px;
  border-radius: 6px;
  background-color: rgb(39, 60, 69);
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.photo {
  width: 300px;
  height: 400px;
  margin: 30px auto;
  overflow: auto;
  border: 2px solid whitesmoke;
}
